<h1>Edit Client</h1>

<ul>
  <% @client.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @client do |f| %>
  <p><%= f.label :first_name %>: <%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %>: <%= f.text_field :last_name %></p>
  <p><%= f.label :trainer_id %>: <%= f.collection_select :trainer_id, Trainer.all, :id, :full_name %></p>
  <p><%= f.submit %></p>
<% end %>
