<h1>Edit Location</h1>

<ul>
  <% @location.errors.full_messages.each do |error| %>
    <li class="error-text"><%= error %></li>
  <% end %>
</ul>

<%= form_for @location do |f| %>
  <p><%= f.label :name %>: <%= f.text_field :name %></p>
  <p><%= f.label :city %>: <%= f.text_field :city %></p>
  <p><%= f.label :state %>: <%= f.text_field :state %></p>
  <p><%= f.submit %></p>
<% end %>
